header {
    background-color: #303840;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    color: white
}
.header-logo {
    padding:1em;
}

#logo {
    height: 50px;
    width: 50px;
}